<div>
    <!--h2>Automatic Slideshow</h2-->
<!--p>Change image every 2 seconds:</p -->

<div class="slideshow-container">

<div class="mySlides fade">
  <div class="numbertext">1 / 5</div>
  <img src="Images/shium 1.jpg" alt="X" height="400",width="400">
  <div class="text">Casual</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">2 / 5</div>
  <img src="Images/shium 2.jpg" alt="X" height="400",width="400">
  <div class="text">Formal</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">3 / 5</div>
  <img src="Images/shium 3.jpg" alt="X" height="400",width="400">
  <div class="text">Campus</div>
</div>

<div class="mySlides fade">
    <div class="numbertext">3 / 5</div>
    <img src="Images/shium 4.JPG" alt="X" height="400",width="400">
    <div class="text">Conference</div>
  </div>
  <div class="mySlides fade">
    <div class="numbertext">3 / 5</div>
    <img src="Images/shium 5.JPG" alt="X" height="400",width="400">
    <div class="text">Ugly</div>
  </div>
  
</div>
<br>

<div style="text-align:center">
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span>
  <span class="dot"></span>
</div>

<script>
let slideIndex = 0;
showSlides();

function showSlides() {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("dot");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";  
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}    
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
  setTimeout(showSlides, 2000); // Change image every 2 seconds
}
</script>

</body>
</html> 

</div>