<html >
<head >
    <h1 align="center">Forgot Password?</h1>
</head>
<body bgcolor="#E44807">
    
    <table align="center">
        <th></th>
        <tr>
            <td>
                Enter the user name or email to change the password 
            </td>
        </tr>
        <tr>
            <td>
                <form action="" >
                    <label for="u_input">User name/email address:  </label> <br>
                    <input type="text" id="u_input" name="u_input" placeholder="Enter username/email here...."> <br>
                    <label for="n_password">New Password:   </label><br>
                    <input type="text" name="n_password" id="n_password" placeholder="Enter new password here...."> <br>
                    <label for="cn_password">Confirm New Password:   </label><br>
                    <input type="text" name="cn_password" id="cn_password" placeholder="Enter new password again here...."> <br>
                    
                   </form>
            </td>
        </tr>
        <tr>
            <td>
               <a href="login.html" target="_blank"><input type="button" value="Submit" ></a> 
            </td>
            
        </tr>
    </table>
    
</body>
</html>