<html>
    <head>
        <h1>Guidelines</h1>
    </head>
    <body bgcolor="#60E5EE">
        <p>
            The information must meet the following requirements:
        </p>
        <ul style="list-style-type: square;">
            <li>
                <b>First name</b>  must contain atmost 20 character
            </li>
            <li>
                <b>Last name</b> must contain atmost 20 character
            </li>
            <li>
                <b>User name</b> 
                 <ul style="list-style-type: lower-alpha;">
                    <li>must be unique</li>
                    <li>must contain atmost 30 character</li>
                    <li>must contain no space among the characters</li>
                    <li>can be a combination of character and number eg: hp_123</li>
                </ul> 
            </li>
            <li>
                <b>Email adress</b> 
                <ul style="list-style-type: lower-alpha;">
                    <li>must be unique</li>
                    <li>must be small case</li>
                    <li>must contain the special character '@'</li>
                    <li>must contain a domain eg: 'gmail.com', 'yahoo.com', etc.</li>
                    <li>must start the prefix  with an alphabetical character</li>
                    <li>prefix can be a combination of character and number eg: 'hp1_1'</li>
                    <li>must not contain special characters at the begining and 2 or more times consecutively eg: '_ha', 'emdad..' </li>
                </ul>
            </li>
            <li>
                <b>Password</b>
                <ul style="list-style-type: lower-roman;">
                    <li>must contain atleast 8 characters</li>
                    <li>must contain atmost 20 characters</li>
                    <li>must contain a capital letter</li>
                    <li>must contain a lowercase letter</li>
                    <li>must contain a number</li>
                    <li>can contain special characters eg: '_', '@', '!', etc.</li>
                </ul>
            </li>
        </ul>
        <a href="login.html" target="_blank"><input type="button" value="Back"></a>
    </body>
</html>