<html>
    <body bgcolor="#6488E7">
        <h1> <center>Login Page</center></h1>
        <table align="center">
            <th colspan="2"><b>Login</b></th>
            <tr><td colspan="2">
                    <form action="">
                        <label for="uname">User Name:   </label><br>
                        <input type="text" id="uname" name="uname" placeholder="Enter username here...."><br>
                        <label for="password">Password: </label><br>
                        <input type="password" id="password" name="password" placeholder="Enter Password here..."><br> <br>
                        <input type="submit" value="Login">
                    </form>
                </td>
            </tr>
        <tr><td colspan="2"><a href="guideline.html" target="_blank">Need guideline?</a> </td></tr>
        <tr>
            <td><a href="forgot_password.html" target="_blank">Forgot your Password?</a></td>
            <td><a href="signin.html" target="_top">Not regestered yet?</a></td>
        </tr>

        </table>

    </body>
</html>